.custom-navbar {
    background-color: #28a745; 
}

.custom-navbar .navbar-brand, .custom-navbar .navbar-nav .nav-link {
    color: #ffffff !important;
}

.custom-navbar .navbar-brand:hover, .custom-navbar .navbar-nav .nav-link:hover {
    color: #f8f9fa !important; 
}

.custom-navbar .navbar-toggler {
    border-color: #ffffff; 
}

.custom-navbar .navbar-toggler-icon {
    background-color: #ffffff; 
} 

.navbar-nav {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 15px; 
    margin-left: 15px; 
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #00994d; 
    color: #fff; 
}



.fc-img{
    width: 500px;
    height: 600px;
}

.mb-4 {
    margin-bottom: 20px; 
}
